Sources/Extensions/ThreatsManager.Mitre/Stix/Common/bundle.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RootSchemabundle">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="type">
          <xsd:annotation>
            <xsd:documentation>The type of this object, which MUST be the literal `bundle`.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="bundle" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="id" type="xsd:anyType" />
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="objects">
          <xsd:complexType>
            <xsd:annotation>
              <xsd:documentation>Specifies a set of one or more STIX Objects.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
              <xsd:element name="type">
                <xsd:annotation>
                  <xsd:documentation>The type property identifies the type of STIX Object (SDO, Relationship Object, etc). The value of the type field MUST be one of the types defined by a STIX Object (e.g., indicator).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^([a-z][a-z0-9]*)+(-[a-z0-9]+)*\-?$" />
                    <xsd:minLength value="3" />
                    <xsd:maxLength value="250" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="spec_version">
                <xsd:annotation>
                  <xsd:documentation>The version of the STIX specification used to represent this object.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="2.0" />
                    <xsd:enumeration value="2.1" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="id">
                <xsd:annotation>
                  <xsd:documentation>Represents identifiers across the CTI specifications. The format consists of the name of the top-level object being identified, followed by two dashes (--), followed by a UUIDv4.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-z][a-z0-9-]+[a-z0-9]--[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="created_by_ref">
                <xsd:annotation>
                  <xsd:documentation>Represents identifiers across the CTI specifications. The format consists of the name of the top-level object being identified, followed by two dashes (--), followed by a UUIDv4.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-z][a-z0-9-]+[a-z0-9]--[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="labels" type="xsd:string" />
              <xsd:element name="created" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>The created property represents the time at which the first version of this object was created. The timstamp value MUST be precise to the nearest millisecond.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="modified" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>The modified property represents the time that this particular version of the object was modified. The timstamp value MUST be precise to the nearest millisecond.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="revoked" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>The revoked property indicates whether the object has been revoked.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="confidence">
                <xsd:annotation>
                  <xsd:documentation>Identifies the confidence that the creator has in the correctness of their data.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="100" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="lang" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Identifies the language of the text content in this object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="external_references">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation>A list of external references which refers to non-STIX information.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:sequence>
                    <xsd:element name="description" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>A human readable description</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Matches a URI according to RFC 3986.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hashes" type="xsd:anyType">
                      <xsd:annotation>
                        <xsd:documentation>Specifies a dictionary of hashes for the file.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="source_name">
                      <xsd:annotation>
                        <xsd:documentation>The source within which the external-reference is defined (system, registry, organization, etc.)</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="^cve$" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="external_id">
                      <xsd:annotation>
                        <xsd:documentation>An identifier for the external reference content.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="^CVE-\d{4}-(0\d{3}|[1-9]\d{3,})$" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="object_marking_refs">
                <xsd:annotation>
                  <xsd:documentation>Represents identifiers across the CTI specifications. The format consists of the name of the top-level object being identified, followed by two dashes (--), followed by a UUIDv4.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-z][a-z0-9-]+[a-z0-9]--[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="granular_markings">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation>The set of granular markings that apply to this object.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="selectors">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="^[a-z][a-z0-9_-]{3,249}(\.(\[\d+\]|[a-z0-9_-]{1,250}))*$" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="lang" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Identifies the language of the text identified by this marking.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="marking_ref" type="xsd:anyType" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="aliases" type="xsd:string" />
              <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The name used to identify the Attack Pattern.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="description" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>A description that provides more details and context about the Attack Pattern, potentially including its purpose and its key characteristics.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="kill_chain_phases">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation>The list of kill chain phases for which this attack pattern is used.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:sequence>
                    <xsd:element name="kill_chain_name" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>The name of the kill chain.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="phase_name" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>The name of the phase in the kill chain.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="first_seen">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="last_seen">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="objective" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>This field defines the Campaign’s primary goal, objective, desired outcome, or intended effect.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="roles" type="xsd:string" />
              <xsd:element name="identity_class" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The type of entity that this Identity describes, e.g., an individual or organization. Open Vocab - identity-class-ov</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="sectors" type="xsd:string" />
              <xsd:element name="contact_information" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The contact information (e-mail, phone number, etc.) for this Identity.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="indicator_types" type="xsd:string" />
              <xsd:element name="pattern" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The detection pattern for this indicator.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="pattern_type" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The type of pattern used in this indicator.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="pattern_version" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The version of the pattern that is used.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="valid_from">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="valid_until">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="goals" type="xsd:string" />
              <xsd:element name="resource_level" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>This defines the organizational level at which this Intrusion Set typically works. Open Vocab - attack-resource-level-ov</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="primary_motivation" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The primary reason, motivation, or purpose behind this Intrusion Set. Open Vocab - attack-motivation-ov</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="secondary_motivations" type="xsd:string" />
              <xsd:element name="is_family" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Whether the object represents a malware family (if true) or a malware instance (if false).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="operating_system_refs" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="architecture_execution_envs" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="implementation_languages" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="capabilities" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="sample_refs" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="malware_types" type="xsd:string" />
              <xsd:element name="first_observed">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="last_observed">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="number_observed">
                <xsd:annotation>
                  <xsd:documentation>The number of times the data represented in the objects property was observed. This MUST be an integer between 1 and 999,999,999 inclusive.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="1" />
                    <xsd:maxInclusive value="999999999" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="objects" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>A dictionary of Cyber Observable Objects that describes the single 'fact' that was observed.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="object_refs">
                <xsd:annotation>
                  <xsd:documentation>Represents identifiers across the CTI specifications. The format consists of the name of the top-level object being identified, followed by two dashes (--), followed by a UUIDv4.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-z][a-z0-9-]+[a-z0-9]--[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="relationship_type">
                <xsd:annotation>
                  <xsd:documentation>The name used to identify the type of relationship.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-z0-9\-]+$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="source_ref" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>The ID of the source (from) object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="target_ref" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>The ID of the target (to) object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="start_time">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="stop_time">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="report_types" type="xsd:string" />
              <xsd:element name="published">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="count">
                <xsd:annotation>
                  <xsd:documentation>This is an integer between 0 and 999,999,999 inclusive and represents the number of times the object was sighted.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="999999999" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="sighting_of_ref" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>An ID reference to the object that has been sighted.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="observed_data_refs" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="where_sighted_refs" />
              <xsd:element name="summary" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>The summary property indicates whether the Sighting should be considered summary data. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="threat_actor_types" type="xsd:string" />
              <xsd:element name="sophistication" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The skill, specific knowledge, special training, or expertise a Threat Actor must have to perform the attack. Open Vocab - threat-actor-sophistication-ov</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="personal_motivations" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="tool_types" type="xsd:string" />
              <xsd:element name="tool_version" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The version identifier associated with the tool.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_defanged" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Defines whether or not the data contained within the object has been defanged.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="extensions" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>Specifies any extensions of the object, as a dictionary.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="mime_type">
                <xsd:annotation>
                  <xsd:documentation>The value of this property MUST be a valid MIME type as specified in the IANA Media Types registry.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^(application|audio|font|image|message|model|multipart|text|video)/[a-zA-Z0-9.+_-]+" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="payload_bin">
                <xsd:annotation>
                  <xsd:documentation>The ​binary data type represents a sequence of bytes. In order to allow pattern matching on custom objects, for all properties that use the binary type, the property name MUST end with '_bin'. The JSON MTI serialization represents this as a base64-­encoded string as specified in RFC4648​. Other serializations SHOULD use a native binary type, if available.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="url" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Matches a URI according to RFC 3986.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="hashes" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>The Hashes type represents one or more cryptographic hashes, as a special set of key/value pairs</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="encryption_algorithm">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AES-256-GCM" />
                    <xsd:enumeration value="ChaCha20-Poly1305" />
                    <xsd:enumeration value="mime-type-indicated" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="decryption_key" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the decryption key for the encrypted binary data (either via payload_bin or url).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="number" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the number assigned to the AS. Such assignments are typically performed by a Regional Internet Registries (RIR).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="rir" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the name of the Regional Internet Registry (RIR) that assigned the number to the AS.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="path" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the path, as originally observed, to the directory on the file system.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="path_enc">
                <xsd:annotation>
                  <xsd:documentation>Specifies the observed encoding for the path.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-zA-Z0-9/\.+_:-]{2,250}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ctime">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="mtime">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="atime">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="contains_refs" type="xsd:string" />
              <xsd:element name="value" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the value of the domain name.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="resolves_to_refs" type="xsd:string" />
              <xsd:element name="display_name" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies a single email display name, i.e., the name that is displayed to the human user of a mail application.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="belongs_to_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the user account that the email address belongs to, as a reference to a User Account Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_multipart" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Indicates whether the email body contains multiple MIME parts.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="body" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies a string containing the email body. This field MAY only be used if is_multipart is false.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="body_multipart">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation>Specifies a list of the MIME parts that make up the email body. This property MAY only be used if is_multipart is true.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:sequence>
                    <xsd:element name="body" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the contents of the MIME part if the content_type is not provided OR starts with text/</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="body_raw_ref" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the contents of non-textual MIME parts, that is those whose content_type does not start with text/, as a reference to an Artifact Object or File Object.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="content_type" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the value of the 'Content-Type' header field of the MIME part.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="content_disposition" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the value of the 'Content-Disposition' header field of the MIME part.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="date">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="content_type" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the value of the 'Content-Type' header of the email message.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="from_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the value of the 'From:' header of the email message.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="sender_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the value of the 'From' field of the email message.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="to_refs" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="cc_refs" type="xsd:string" />
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="bcc_refs" type="xsd:string" />
              <xsd:element name="message_id" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the Message-ID field of the email message.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="subject" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the subject of the email message.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="received_lines" type="xsd:string" />
              <xsd:element name="additional_header_fields" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>Specifies any other header fields (except for date, received_lines, content_type, from_ref, sender_ref, to_refs, cc_refs, bcc_refs, and subject) found in the email message, as a dictionary.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="raw_email_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the raw binary contents of the email message, including both the headers and body, as a reference to an Artifact Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="size">
                <xsd:annotation>
                  <xsd:documentation>Specifies the size of the file, in bytes, as a non-negative integer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="name_enc">
                <xsd:annotation>
                  <xsd:documentation>Specifies the observed encoding for the name of the file.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-zA-Z0-9/\.+_:-]{2,250}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="magic_number_hex">
                <xsd:annotation>
                  <xsd:documentation>The hex data type encodes an array of octets (8-bit bytes) as hexadecimal. The string MUST consist of an even number of hexadecimal characters, which are the digits '0' through '9' and the letters 'a' through 'f'.  In order to allow pattern matching on custom objects, all properties that use the hex type, the property name MUST end with '_hex'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^([a-fA-F0-9]{2})+$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="parent_directory_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the parent directory of the file, as a reference to a Directory Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="content_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the content of the file, represented as an Artifact Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="belongs_to_refs" type="xsd:string" />
              <xsd:element name="is_active" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Indicates whether the network traffic is still ongoing.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="start">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="end">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="src_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the source of the network traffic, as a reference to an Observable Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="dst_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the destination of the network traffic, as a reference to an Observable Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="src_port">
                <xsd:annotation>
                  <xsd:documentation>Specifies the source port used in the network traffic, as an integer. The port value MUST be in the range of 0 - 65535.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="65535" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="dst_port">
                <xsd:annotation>
                  <xsd:documentation>Specifies the destination port used in the network traffic, as an integer. The port value MUST be in the range of 0 - 65535.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="65535" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="protocols" type="xsd:string" />
              <xsd:element name="src_byte_count" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the number of bytes sent from the source to the destination.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="dst_byte_count" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the number of bytes sent from the destination to the source.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="src_packets" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the number of packets sent from the source to the destination.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="dst_packets" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the number of packets sent destination to the source.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ipfix" type="xsd:anyType" />
              <xsd:element name="src_payload_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the bytes sent from the source to the destination.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="dst_payload_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the bytes sent from the source to the destination.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="encapsulates_refs" type="xsd:string" />
              <xsd:element name="encapsulated_by_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Links to another network-traffic object which encapsulates this object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_hidden" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Specifies whether the process is hidden.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="pid" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the Process ID, or PID, of the process.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="cwd" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the current working directory of the process.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="command_line" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the full command line used in executing the process, including the process name (which may be specified individually via the binary_ref.name property) and any arguments.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="environment_variables" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>A dictionary captures a set of key/value pairs</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="opened_connection_refs" type="xsd:string" />
              <xsd:element name="creator_user_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the user that created the process, as a reference to a User Account Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="image_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the executable binary that was executed as the process image, as a reference to a File Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="parent_ref" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the other process that spawned (i.e. is the parent of) this one, as represented by a Process Object.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="child_refs" type="xsd:string" />
              <xsd:element name="cpe">
                <xsd:annotation>
                  <xsd:documentation>Specifies the Common Platform Enumeration (CPE) entry for the software, if available. The value for this property MUST be a CPE v2.3 entry from the official NVD CPE Dictionary.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="cpe:2\.3:[aho\*\-](:(((\?*|\*?)([a-zA-Z0-9\-\._]|(\\[\\\*\?!&quot;#$$%&amp;'\(\)\+,/:;&lt;=&gt;@\[\]\^`\{\|}~]))+(\?*|\*?))|[\*\-])){5}(:(([a-zA-Z]{2,3}(-([a-zA-Z]{2}|[0-9]{3}))?)|[\*\-]))(:(((\?*|\*?)([a-zA-Z0-9\-\._]|(\\[\\\*\?!&quot;#$$%&amp;'\(\)\+,/:;&lt;=&gt;@\[\]\^`\{\|}~]))+(\?*|\*?))|[\*\-])){4}" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="swid" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the Software Identification (SWID) Tags entry for the software, if available.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="languages">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[a-z]{3}$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="vendor" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the name of the vendor of the software.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="version" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the version of the software.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="user_id" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the identifier of the account.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="credential" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies a cleartext credential. This is only intended to be used in capturing metadata from malware analysis (e.g., a hard-coded domain administrator password that the malware attempts to use for lateral movement) and SHOULD NOT be used for sharing of PII.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="account_login" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the account login string, used in cases where the user_id property specifies something other than what a user would type when they login.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="account_type" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the type of the account. This is an open vocabulary and values SHOULD come from the account-type-ov vocabulary.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_service_account" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Indicates that the account is associated with a network service or system process (daemon), not a specific individual.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_privileged" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Specifies that the account has elevated privileges (i.e., in the case of root on Unix or the Windows Administrator account).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="can_escalate_privs" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Specifies that the account has the ability to escalate privileges (i.e., in the case of sudo on Unix or a Windows Domain Admin account).</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_disabled" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Specifies if the account is disabled.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="account_created">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="account_expires">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="credential_last_changed">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="account_first_login">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="account_last_login">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="key">
                <xsd:annotation>
                  <xsd:documentation>Specifies the full registry key including the hive.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^HKEY_LOCAL_MACHINE|hkey_local_machine|HKEY_CURRENT_USER|hkey_current_user|HKEY_CLASSES_ROOT|hkey_classes_root|HKEY_CURRENT_CONFIG|hkey_current_config|HKEY_PERFORMANCE_DATA|hkey_performance_data|HKEY_USERS|hkey_users|HKEY_DYN_DATA|hkey_dyn_data" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="values">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation>Specifies the values found under the registry key.</xsd:documentation>
                  </xsd:annotation>
                  <xsd:sequence>
                    <xsd:element name="name" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the name of the registry value. For specifying the default value in a registry key, an empty string MUST be used.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="data" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the data contained in the registry value.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="data_type">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the registry (REG_*) data type used in the registry value.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="REG_NONE" />
                          <xsd:enumeration value="REG_SZ" />
                          <xsd:enumeration value="REG_EXPAND_SZ" />
                          <xsd:enumeration value="REG_BINARY" />
                          <xsd:enumeration value="REG_DWORD" />
                          <xsd:enumeration value="REG_DWORD_BIG_ENDIAN" />
                          <xsd:enumeration value="REG_DWORD_LITTLE_ENDIAN" />
                          <xsd:enumeration value="REG_LINK" />
                          <xsd:enumeration value="REG_MULTI_SZ" />
                          <xsd:enumeration value="REG_RESOURCE_LIST" />
                          <xsd:enumeration value="REG_FULL_RESOURCE_DESCRIPTION" />
                          <xsd:enumeration value="REG_RESOURCE_REQUIREMENTS_LIST" />
                          <xsd:enumeration value="REG_QWORD" />
                          <xsd:enumeration value="REG_INVALID_TYPE" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="modified_time">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="number_of_subkeys" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the number of subkeys contained under the registry key.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="is_self_signed" type="xsd:boolean">
                <xsd:annotation>
                  <xsd:documentation>Specifies whether the certificate is self-signed, i.e., whether it is signed by the same entity whose identity it certifies.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="serial_number" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the unique identifier for the certificate, as issued by a specific Certificate Authority.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="signature_algorithm" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the name of the algorithm used to sign the certificate.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="issuer" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the name of the Certificate Authority that issued the certificate.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="validity_not_before">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="validity_not_after">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="subject_public_key_algorithm" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the name of the algorithm with which to encrypt data being sent to the subject.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="subject_public_key_modulus" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Specifies the modulus portion of the subject’s public RSA key.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="subject_public_key_exponent" type="xsd:int">
                <xsd:annotation>
                  <xsd:documentation>Specifies the exponent portion of the subject’s public RSA key, as an integer.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="x509_v3_extensions">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="basic_constraints" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies a multi-valued extension which indicates whether a certificate is a CA certificate.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name_constraints" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies a namespace within which all subject names in subsequent certificates in a certification path MUST be located.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="policy_constraints" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies any constraints on path validation for certificates issued to CAs.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="key_usage" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies a multi-valued extension consisting of a list of names of the permitted key usages.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="extended_key_usage" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies a list of usages indicating purposes for which the certificate public key can be used for.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subject_key_identifier" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the identifier that provides a means of identifying certificates that contain a particular public key.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="authority_key_identifier" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the identifier that provides a means of identifying the public key corresponding to the private key used to sign a certificate.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subject_alternative_name" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the additional identities to be bound to the subject of the certificate.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="issuer_alternative_name" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the additional identities to be bound to the issuer of the certificate.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subject_directory_attributes" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the identification attributes (e.g., nationality) of the subject.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="crl_distribution_points" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies how CRL information is obtained.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inhibit_any_policy" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies the number of additional certificates that may appear in the path before anyPolicy is no longer permitted.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="private_key_usage_period_not_before">
                      <xsd:annotation>
                        <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="private_key_usage_period_not_after">
                      <xsd:annotation>
                        <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="certificate_policies" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies a sequence of one or more policy information terms, each of which consists of an object identifier (OID) and optional qualifiers.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="policy_mappings" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>Specifies one or more pairs of OIDs; each pair includes an issuerDomainPolicy and a subjectDomainPolicy</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="object_ref" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>Identifies the object that this Language Content applies to.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="object_modified">
                <xsd:annotation>
                  <xsd:documentation>Represents timestamps across the CTI specifications. The format is an RFC3339 timestamp, with a required timezone specification of 'Z'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?Z$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="contents" type="xsd:anyType">
                <xsd:annotation>
                  <xsd:documentation>A dictionary captures a set of key/value pairs</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="definition_type">
                <xsd:annotation>
                  <xsd:documentation>The definition_type property identifies the type of Marking Definition.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^statement$" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="definition">
                <xsd:annotation>
                  <xsd:documentation>The Statement marking type defines the representation of a textual marking statement (e.g., copyright, terms of use, etc.) in a definition</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="statement" type="xsd:string">
                      <xsd:annotation>
                        <xsd:documentation>A statement (e.g., copyright, terms of use) applied to the content marked by this marking definition.</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
