Sources/Extensions/ThreatsManager.Mitre/Stix/Common/kill-chain-phase.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="rootSchema">
    <xsd:sequence>
      <xsd:element name="kill_chain_name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The name of the kill chain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phase_name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The name of the phase in the kill chain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
