Sources/Extensions/ThreatsManager.Mitre/Stix/SROs/relationship.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="rootSchema">
    <xsd:sequence>
      <xsd:element name="type">
        <xsd:annotation>
          <xsd:documentation>The type property identifies the type of STIX Object (SDO, Relationship Object, etc). The value of the type field MUST be one of the types defined by a STIX Object (e.g., indicator).</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="^([a-z][a-z0-9]*)+(-[a-z0-9]+)*\-?$" />
            <xsd:minLength value="3" />
            <xsd:maxLength value="250" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="spec_version">
        <xsd:annotation>
          <xsd:documentation>The version of the STIX specification used to represent this object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="2.0" />
            <xsd:enumeration value="2.1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="id">
        <xsd:annotation>
          <xsd:documentation>Represents identifiers across the CTI specifications. The format consists of the name of the top-level object being identified, followed by two dashes (--), followed by a UUIDv4.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="^[a-z][a-z0-9-]+[a-z0-9]--[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="created_by_ref">
        <xsd:annotation>
          <xsd:documentation>Represents identifiers across the CTI specifications. The format consists of the name of the top-level object being identified, followed by two dashes (--), followed by a UUIDv4.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="^[a-z][a-z0-9-]+[a-z0-9]--[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="labels">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The labels property specifies a set of terms used to describe this object.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Items" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="created" type="xsd:anyType">
        <xsd:annotation>
          <xsd:documentation>The created property represents the time at which the first version of this object was created. The timstamp value MUST be precise to the nearest millisecond.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modified" type="xsd:anyType">
        <xsd:annotation>
          <xsd:documentation>The modified property represents the time that this particular version of the object was modified. The timstamp value MUST be precise to the nearest millisecond.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="revoked" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>The revoked property indicates whether the object has been revoked.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="confidence">
        <xsd:annotation>
          <xsd:documentation>Identifies the confidence that the creator has in the correctness of their data.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="lang" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Identifies the language of the text content in this object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="external_references">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>A list of external references which refers to non-STIX information.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Items" />
            <xsd:element name="description" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>A human readable description</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="url" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Matches a URI according to RFC 3986.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="hashes" type="xsd:anyType">
              <xsd:annotation>
                <xsd:documentation>Specifies a dictionary of hashes for the file.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="source_name">
              <xsd:annotation>
                <xsd:documentation>The source within which the external-reference is defined (system, registry, organization, etc.)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="^cve$" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="external_id">
              <xsd:annotation>
                <xsd:documentation>An identifier for the external reference content.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="^CVE-\d{4}-(0\d{3}|[1-9]\d{3,})$" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="object_marking_refs">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The list of marking-definition objects to be applied to this object.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Items" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="granular_markings">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The set of granular markings that apply to this object.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Items" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="selectors">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>A list of selectors for content contained within the STIX object in which this property appears.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Items" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="lang" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Identifies the language of the text identified by this marking.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="marking_ref" type="xsd:anyType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="relationship_type">
        <xsd:annotation>
          <xsd:documentation>The name used to identify the type of relationship.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="^[a-z0-9\-]+$" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A description that helps provide context about the relationship.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="source_ref" type="xsd:anyType">
        <xsd:annotation>
          <xsd:documentation>The ID of the source (from) object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="target_ref" type="xsd:anyType">
        <xsd:annotation>
          <xsd:documentation>The ID of the target (to) object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="start_time" type="timestamp.json">
        <xsd:annotation>
          <xsd:documentation>This optional timestamp represents the earliest time at which the Relationship between the objects exists. If this property is a future timestamp, at the time the updated property is defined, then this represents an estimate by the producer of the intelligence of the earliest time at which relationship will be asserted to be true.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="stop_time" type="timestamp.json">
        <xsd:annotation>
          <xsd:documentation>The latest time at which the Relationship between the objects exists. If this property is a future timestamp, at the time the updated property is defined, then this represents an estimate by the producer of the intelligence of the latest time at which relationship will be asserted to be true.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
